<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Very original title by Marcin Fladro</title>
  </head>
  <body>
    <div class="row">
      <div class="col-9">
        <p>
          cos tam cos tam asdASDASDA Dqeqweqweqweqwe qweqew cos tam cos tam
          asdASDASDA Dqeqweqweqweqwe qweqew cos tam cos tam asdASDASDA
          Dqeqweqweqweqwe qweqew cos tam cos tam asdASDASDA Dqeqweqweqweqwe
          qweqew cos tam cos tam asdASDASDA Dqeqweqweqweqwe qweqewcos tam cos
          tam asdASDASDA Dqeqweqweqweqwe qweqew cos tam cos tam asdASDASDA
          Dqeqweqweqweqwe qweqew
        </p>
      </div>
      <div class="column">
        <h3>Szybki kontakt</h3>
        <div>
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
          <a
            href="http://facebook.com"
            target="_blank"
            rel="noopener noreferrer"
            >Facebook</a
          >
        </div>
        <div>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <a
            href="http://instagram.com"
            target="_blank"
            rel="noopener noreferrer"
            >Instagram</a
          >
        </div>
        <div>
          <i class="fa fa-reply" aria-hidden="true"></i>
          <a href="http://gmail.com" target="_blank" rel="noopener noreferrer"
            >Email</a
          >
        </div>
      </div>
    </div>

    <footer class="centerer">
      Copyrights &copy; Marcin Flądro | 2019
    </footer>
  </body>
</html>
